{% extends 'base.html.twig' %}

{% block title %}Hello BookingController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <form type="post" action="">
            <div class="row">
                <div class="col-md-2">
                    <input data-provide="datepicker" class="form-control" value="{{ booking_parameters['start_date'] }}">
                </div>
                <div class="col-md-2">
                    <input data-provide="datepicker" class="form-control" value="{{ booking_parameters['end_date'] }}">
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        {% for i in 1..4  %}
                            {%  if i ==  booking_parameters['guests']  %}
                                <option value="{{ i }}" selected>{{ i }}</option>
                            {% else %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {%  endfor %}
                    </select>
                </div>
                <div class="col-md-5">
                    <button value="Book!" type="submit" class="btn btn-success btn-lg">Search Again</button>
                </div>
            </div>
        </form>
    </div>
{% include 'snippets/booking_list.html.twig' %}
{% endblock %}

{% block javascript %}
    (function() {
        document.querySelector('.js-datepicker').datepicker({ format: 'dd-mm-yyyy' });
    })();
{% endblock %}