{% for d in rooms['data'] %}

    <div class="card mb-3 pl-1" >
        <div class="row g-0">
            <div class="col-md-4">
                {% if d['hotel'].image is defined %}
                    <img style="height: 100%; width: 100%; object-fit: contain" class="rounded-2"
                         src="{{ asset( "images/" ~ d['hotel'].image ) }}" />
                {%  endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ d['hotel'].hotel }}</h5>
                    <span>{{ d['hotel'].address }}</span>
                    <div class="card-text pt-md-2">
                        {% if d['hotel'].description is defined %}
                          <p class="card-text hotel-description">
                            {{ d['hotel'].description }}
                         </p>
                    {% endif %}
                    </div>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

{% endfor %}