@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import 'https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Cabin:ital@1&family=IBM+Plex+Sans:wght@300&family=Mulish:wght@200&display=swap';

body {

}

.hotel-description {
  font-family: 'Archivo', sans-serif;
  letter-spacing: 1.22px;
}

.bookings {
  margin-top: 20px;
}

.card-header-background {
  background-color: #d2ff53;
}